@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  text-transform: capitalize;
  background-color: #264653;
  color: #e9c46a;
}
.nav__title {
  margin-right: auto;
  margin-left: 1rem;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav__link, .nav__btn {
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #e9c46a;
  text-decoration: none;
  transition: transform 0.1s linear;
}
.nav__link:hover, .nav__btn:hover {
  transform: translateY(0.1rem);
}
.nav__link--active {
  text-decoration: overline;
}
.nav__link--active:hover {
  transform: translateY(0);
}
.nav__btn {
  font-weight: bold;
}

.products,
.cart,
.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products__product-card,
.product__product-card {
  width: 28rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: -0.1rem -0.1rem 1.5rem rgba(160, 160, 160, 0.431372549);
}
.products__product-card > img,
.product__product-card > img {
  width: 10rem;
  height: auto;
  padding: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.products__product-card > div,
.product__product-card > div {
  height: 100%;
  padding: 1rem;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.product__product-card {
  width: 50rem;
}
.product__product-card > img {
  width: 20rem;
}
.product__product-card > div {
  height: 100%;
  padding: 1rem;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.product-description {
  width: 50%;
  position: relative;
}
.product-description__title {
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 500;
  color: #264653;
}
.product-description__description {
  height: 5rem;
  overflow: hidden;
  text-align: justify;
  font-size: 0.8rem;
}
.product-description button {
  border: none;
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  background-color: #264653;
  color: #e9c46a;
  border-radius: 0.2rem;
  cursor: pointer;
}
.product-description__describe {
  padding: 0.2rem;
  background-color: #fff;
  color: #264653;
  position: absolute;
  right: 0.5rem;
  bottom: 3.8rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}
.product-description__description--more {
  overflow-y: scroll;
}

.product-rating__count {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: grey;
}

.product .product-description__title {
  font-size: 1.2rem;
}
.product .product-description__description {
  height: 100%;
  font-size: 1rem;
  padding: 0.5rem 0;
}
.product .product-description .product-rating {
  padding: 1rem 0;
}

@media screen and (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .product-rating {
    display: flex;
    flex-direction: column;
  }
  .product-rating__count {
    margin-left: 0;
  }
  .product-card {
    display: flex;
    flex-direction: column;
  }
  .product-card__description.product-description {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */